In [1]:
# get_data
import pandas as pd
import re
import torch
df=pd.read_csv('/home/ubuntu/project/mayang/Classification/process_data/job/job_train_5k.csv')
df.head()

,Unnamed: 0,query,index,c0,c1,t0,t1,error,improvement,query_plan_no_index,query_plan_index
0,0,"SELECT MIN(cn.name) AS producing_company,\n ...",['I(C kind_type.id)'],291570.2,291570.06,3390.761,3170.545,-0.064945,-0.064946,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
1,1,"SELECT MIN(cn.name) AS producing_company,\n ...","['I(C kind_type.id)', 'I(C company_type.id,C c...",291570.2,291569.93,3390.761,3089.979,-0.088705,-0.088706,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
2,2,"SELECT MIN(cn.name) AS producing_company,\n ...","['I(C kind_type.id)', 'I(C movie_companies.mov...",291570.2,257832.09,3390.761,2971.284,-0.008000,-0.123712,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
3,3,"SELECT MIN(cn.name) AS producing_company,\n ...","['I(C kind_type.id)', 'I(C company_name.id)']",291570.2,291451.62,3390.761,3093.552,-0.087246,-0.087653,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
4,4,"SELECT MIN(cn.name) AS producing_company,\n ...","['I(C movie_info.movie_id)', 'I(C kind_type.id)']",291570.2,52973.77,3390.761,802.612,0.055021,-0.763294,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."

In [2]:
df.sort_values(by='error')

,Unnamed: 0,query,index,c0,c1,t0,t1,error,improvement,query_plan_no_index,query_plan_index
4878,4878,"\n\n\nSELECT MIN(cn.name) AS movie_company,\n ...","['I(C complete_cast.movie_id)', 'I(C comp_cast...",409434.29,405663.70,518115.59,2825.090,-0.985338,-0.994547,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
4873,4873,"\n\n\nSELECT MIN(cn.name) AS movie_company,\n ...","['I(C complete_cast.movie_id)', 'I(C company_t...",409434.29,405663.83,518115.59,2825.999,-0.985337,-0.994546,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
4872,4872,"\n\n\nSELECT MIN(cn.name) AS movie_company,\n ...","['I(C complete_cast.movie_id)', 'I(C kind_type...",409434.29,405663.66,518115.59,2835.745,-0.985317,-0.994527,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
4869,4869,"\n\n\nSELECT MIN(cn.name) AS movie_company,\n ...","['I(C complete_cast.movie_id)', 'I(C info_type...",409434.29,405663.95,518115.59,2854.343,-0.985282,-0.994491,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
4866,4866,"\n\n\nSELECT MIN(cn.name) AS movie_company,\n ...",['I(C complete_cast.movie_id)'],409434.29,405663.95,518115.59,2863.964,-0.985264,-0.994472,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
...,...,...,...,...,...,...,...,...,...,...,...
549,549,\n\n\nSELECT MIN(n.name) AS member_in_charname...,"['I(C movie_keyword.keyword_id)', 'I(C movie_c...",546198.30,1307.58,7952.25,15904.500,1.997606,1.000000,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
2240,2240,\n\n\nSELECT MIN(n.name) AS member_in_charname...,"['I(C movie_keyword.keyword_id)', 'I(C movie_c...",546198.30,1307.58,6839.92,13679.840,1.997606,1.000000,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
2241,2241,\n\n\nSELECT MIN(n.name) AS member_in_charname...,"['I(C movie_keyword.keyword_id)', 'I(C movie_c...",546198.30,1307.58,6839.92,13679.840,1.997606,1.000000,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
2242,2242,\n\n\nSELECT MIN(n.name) AS member_in_charname...,"['I(C movie_keyword.keyword_id)', 'I(C movie_c...",546198.30,1307.20,6839.92,13679.840,1.997607,1.000000,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."
575,575,\n\n\nSELECT MIN(n.name) AS member_in_charname...,"['I(C movie_companies.movie_id)', 'I(C movie_k...",546198.30,4401.38,7952.25,16505.298,2.067492,1.075551,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...","[{'Plan': {'Node Type': 'Aggregate', 'Strategy..."

In [2]:
configruations=df['index'].values
configruations[0]

"['I(C kind_type.id)', 'I(C company_type.id,C company_type.kind)']"

In [3]:
i=7
print(configruations[i])
print(df['query'].values[i])

['I(C kind_type.id)', 'I(C movie_companies.movie_id)']
SELECT MIN(cn.name) AS producing_company,
       MIN(miidx.info) AS rating,
       MIN(t.title) AS movie_about_winning
FROM company_name AS cn,
     company_type AS ct,
     info_type AS it,
     info_type AS it2,
     kind_type AS kt,
     movie_companies AS mc,
     movie_info AS mi,
     movie_info_idx AS miidx,
     title AS t
WHERE cn.country_code ='[us]'
  AND ct.kind ='production companies'
  AND it.info ='rating'
  AND it2.info ='release dates'
  AND kt.kind ='movie'
  AND t.title != ''
  AND (t.title LIKE '%Champion%'
       OR t.title LIKE '%Loser%')
  AND mi.movie_id = t.id
  AND it2.id = mi.info_type_id
  AND kt.id = t.kind_id
  AND mc.movie_id = t.id
  AND cn.id = mc.company_id
  AND ct.id = mc.company_type_id
  AND miidx.movie_id = t.id
  AND it.id = miidx.info_type_id
  AND mi.movie_id = miidx.movie_id
  AND mi.movie_id = mc.movie_id
  AND miidx.movie_id = mc.movie_id

In [4]:
import ast

def parse_index_config(index_str):
    # 将字符串转换为列表
    index_list = ast.literal_eval(index_str)
    
    result = []
    for index in index_list:
        # 去掉 I() 的部分，提取表名和列名
        index_content = index[4:-1]  # 去掉前面的 'I(' 和后面的 ')'
        table_cols = index_content.split(',')
        
        # 提取表名和列名
        table = table_cols[0].split('.')[0]  # 假设表名是第一个元素
        cols = [col.split('.')[1] for col in table_cols]  # 提取列名
        
        result.append({'table': table, 'cols': cols})
    
    return result

print(parse_index_config(configruations[i]))

[{'table': 'kind_type', 'cols': ['id']}, {'table': 'movie_companies', 'cols': ['movie_id']}]

In [5]:
import sys
import os

# 获取 QPE 目录的绝对路径
qpe_dir = os.path.abspath('/home/ubuntu/project/mayang')

# 将 QPE 目录添加到 sys.path
sys.path.append(qpe_dir)

# 现在尝试导入 TreeBuilder 类
from QPE.sql2fea import TreeBuilder

In [6]:
# 提取表名与别名的对应关系dict
import re

def extract_table_alias(sql):
    # 正则表达式匹配表名及其别名
    pattern = r'\b([a-zA-Z0-9_]+)\s+AS\s+([a-zA-Z0-9_]+)'
    matches = re.findall(pattern, sql, re.IGNORECASE)

    table_alias_dict = {}
    
    for match in matches:
        table_name = match[0]
        alias_name = match[1]
        table_alias_dict[table_name] = alias_name

    return table_alias_dict


# 提取结果
table_alias = extract_table_alias(df['query'].values[i])

print("Table and Alias Dictionary:")
print(table_alias)

Table and Alias Dictionary:
{'company_name': 'cn', 'company_type': 'ct', 'info_type': 'it2', 'kind_type': 'kt', 'movie_companies': 'mc', 'movie_info': 'mi', 'movie_info_idx': 'miidx', 'title': 't'}

In [7]:
import ast
tree_builder = TreeBuilder()
tree_builder.set_configruations(configruations[i])
tree_builder.set_table_to_alias_dict(df['query'].values[i])

# 准备您的 SQL 执行计划数据，这里是一个示例
execution_plan = ast.literal_eval(df['query_plan_no_index'].values[i])[0]['Plan']

# 特征化执行计划
try:
    features = tree_builder.plan_to_feature_tree(execution_plan, current_height=0)
    # 打印特征化结果
    # print(features)
except TreeBuilderError as e:
    print("Error while feature extraction:", e.__msg)
    
execution_plan,execution_plan.keys()

self.index_config_dicts: [{'table': 'kind_type', 'cols': ['id']}, {'table': 'movie_companies', 'cols': ['movie_id']}]
self.table_to_alias_dict: {'company_name': 'cn', 'company_type': 'ct', 'info_type': 'it2', 'kind_type': 'kt', 'movie_companies': 'mc', 'movie_info': 'mi', 'movie_info_idx': 'miidx', 'title': 't'}

({'Node Type': 'Aggregate',
  'Strategy': 'Plain',
  'Partial Mode': 'Simple',
  'Parallel Aware': False,
  'Startup Cost': 291570.19,
  'Total Cost': 291570.2,
  'Plan Rows': 1,
  'Plan Width': 96,
  'Plans': [{'Node Type': 'Nested Loop',
    'Parent Relationship': 'Outer',
    'Parallel Aware': False,
    'Join Type': 'Inner',
    'Startup Cost': 257831.77,
    'Total Cost': 291570.18,
    'Plan Rows': 1,
    'Plan Width': 42,
    'Inner Unique': True,
    'Plans': [{'Node Type': 'Nested Loop',
      'Parent Relationship': 'Outer',
      'Parallel Aware': False,
      'Join Type': 'Inner',
      'Startup Cost': 257831.64,
      'Total Cost': 291569.96,
      'Plan Rows': 1,
      'Plan Width': 46,
      'Inner Unique': True,
      'Plans': [{'Node Type': 'Gather',
        'Parent Relationship': 'Outer',
        'Parallel Aware': False,
        'Startup Cost': 257831.51,
        'Total Cost': 291569.79,
        'Plan Rows': 1,
        'Plan Width': 50,
        'Workers Planned': 2,
        'Single Copy': False,
        'Plans': [{'Node Type': 'Nested Loop',
          'Parent Relationship': 'Outer',
          'Parallel Aware': False,
          'Join Type': 'Inner',
          'Startup Cost': 256831.51,
          'Total Cost': 290569.69,
          'Plan Rows': 1,
          'Plan Width': 50,
          'Inner Unique': True,
          'Plans': [{'Node Type': 'Hash Join',
            'Parent Relationship': 'Outer',
            'Parallel Aware': True,
            'Join Type': 'Inner',
            'Startup Cost': 256831.09,
            'Total Cost': 290569.25,
            'Plan Rows': 1,
            'Plan Width': 35,
            'Inner Unique': False,
            'Hash Cond': '(mc.movie_id = mi.movie_id)',
            'Plans': [{'Node Type': 'Seq Scan',
              'Parent Relationship': 'Outer',
              'Parallel Aware': True,
              'Relation Name': 'movie_companies',
              'Alias': 'mc',
              'Startup Cost': 0.0,
              'Total Cost': 29661.37,
              'Plan Rows': 1087137,
              'Plan Width': 12},
             {'Node Type': 'Hash',
              'Parent Relationship': 'Inner',
              'Parallel Aware': True,
              'Startup Cost': 256831.08,
              'Total Cost': 256831.08,
              'Plan Rows': 1,
              'Plan Width': 39,
              'Plans': [{'Node Type': 'Nested Loop',
                'Parent Relationship': 'Outer',
                'Parallel Aware': False,
                'Join Type': 'Inner',
                'Startup Cost': 15320.07,
                'Total Cost': 256831.08,
                'Plan Rows': 1,
                'Plan Width': 39,
                'Inner Unique': True,
                'Plans': [{'Node Type': 'Hash Join',
                  'Parent Relationship': 'Outer',
                  'Parallel Aware': True,
                  'Join Type': 'Inner',
                  'Startup Cost': 15319.64,
                  'Total Cost': 256174.29,
                  'Plan Rows': 1406,
                  'Plan Width': 14,
                  'Inner Unique': False,
                  'Hash Cond': '(mi.movie_id = miidx.movie_id)',
                  'Plans': [{'Node Type': 'Hash Join',
                    'Parent Relationship': 'Outer',
                    'Parallel Aware': False,
                    'Join Type': 'Inner',
                    'Startup Cost': 2.43,
                    'Total Cost': 240646.08,
                    'Plan Rows': 54704,
                    'Plan Width': 4,
                    'Inner Unique': True,
                    'Hash Cond': '(mi.info_type_id = it2.id)',
                    'Plans': [{'Node Type': 'Seq Scan',
                      'Parent Relationship': 'Outer',
                      'Parallel Aware': True,
                      'Relation Name': 'movie_info',
                      'Alias': 'mi',
                      'Startup Cost': 0.0,
                      'Total Cost': 223808.5,
                      'Plan Rows': 6181550,
                      'Plan Width': 8},
                     {'Node Type': 'Hash',
                      'Parent Relationship': 'Inner',
                      'Parallel Aware': False,
                      'Startup Cost': 2.41,
                      'Total Cost': 2.41,
                      'Plan Rows': 1,
                      'Plan Width': 4,
                      'Plans': [{'Node Type': 'Seq Scan',
                        'Parent Relationship': 'Outer',
                        'Parallel Aware': False,
                        'Relation Name': 'info_type',
                        'Alias': 'it2',
                        'Startup Cost': 0.0,
                        'Total Cost': 2.41,
                        'Plan Rows': 1,
                        'Plan Width': 4,
                        'Filter': "((info)::text = 'release dates'::text)"}]}]},
                   {'Node Type': 'Hash',
                    'Parent Relationship': 'Inner',
                    'Parallel Aware': True,
                    'Startup Cost': 15253.6,
                    'Total Cost': 15253.6,
                    'Plan Rows': 5089,
                    'Plan Width': 10,
                    'Plans': [{'Node Type': 'Hash Join',
                      'Parent Relationship': 'Outer',
                      'Parallel Aware': False,
                      'Join Type': 'Inner',
                      'Startup Cost': 2.43,
                      'Total Cost': 15253.6,
                      'Plan Rows': 5089,
                      'Plan Width': 10,
                      'Inner Unique': True,
                      'Hash Cond': '(miidx.info_type_id = it.id)',
                      'Plans': [{'Node Type': 'Seq Scan',
                        'Parent Relationship': 'Outer',
                        'Parallel Aware': True,
                        'Relation Name': 'movie_info_idx',
                        'Alias': 'miidx',
                        'Startup Cost': 0.0,
                        'Total Cost': 13685.15,
                        'Plan Rows': 575015,
                        'Plan Width': 14},
                       {'Node Type': 'Hash',
                        'Parent Relationship': 'Inner',
                        'Parallel Aware': False,
                        'Startup Cost': 2.41,
                        'Total Cost': 2.41,
                        'Plan Rows': 1,
                        'Plan Width': 4,
                        'Plans': [{'Node Type': 'Seq Scan',
                          'Parent Relationship': 'Outer',
                          'Parallel Aware': False,
                          'Relation Name': 'info_type',
                          'Alias': 'it',
                          'Startup Cost': 0.0,
                          'Total Cost': 2.41,
                          'Plan Rows': 1,
                          'Plan Width': 4,
                          'Filter': "((info)::text = 'rating'::text)"}]}]}]}]},
                 {'Node Type': 'Index Scan',
                  'Parent Relationship': 'Inner',
                  'Parallel Aware': False,
                  'Scan Direction': 'Forward',
                  'Index Name': 'title_pkey',
                  'Relation Name': 'title',
                  'Alias': 't',
                  'Startup Cost': 0.43,
                  'Total Cost': 0.47,
                  'Plan Rows': 1,
                  'Plan Width': 25,
                  'Index Cond': '(id = mi.movie_id)',
                  'Filter': "(((title)::text <> ''::text) AND (((title)::text ~~ '%Champion%'::text) OR ((title)::text ~~ '%Loser%'::text)))"}]}]}]},
           {'Node Type': 'Index Scan',
            'Parent Relationship': 'Inner',
            'Parallel Aware': False,
            'Scan Direction': 'Forward',
            'Index Name': 'company_name_id_idx',
            'Relation Name': 'company_name',
            'Alias': 'cn',
            'Startup Cost': 0.42,
            'Total Cost': 0.45,
            'Plan Rows': 1,
            'Plan Width': 23,
            'Index Cond': '(id = mc.company_id)',
            'Filter': "((country_code)::text = '[us]'::text)"}]}]},
       {'Node Type': 'Index Scan',
        'Parent Relationship': 'Inner',
        'Parallel Aware': False,
        'Scan Direction': 'Forward',
        'Index Name': 'company_type_pkey',
        'Relation Name': 'company_type',
        'Alias': 'ct',
        'Startup Cost': 0.13,
        'Total Cost': 0.15,
        'Plan Rows': 1,
        'Plan Width': 4,
        'Index Cond': '(id = mc.company_type_id)',
        'Filter': "((kind)::text = 'production companies'::text)"}]},
     {'Node Type': 'Index Scan',
      'Parent Relationship': 'Inner',
      'Parallel Aware': False,
      'Scan Direction': 'Forward',
      'Index Name': 'kind_type_pkey',
      'Relation Name': 'kind_type',
      'Alias': 'kt',
      'Startup Cost': 0.13,
      'Total Cost': 0.18,
      'Plan Rows': 1,
      'Plan Width': 4,
      'Index Cond': '(id = t.kind_id)',
      'Filter': "((kind)::text = 'movie'::text)"}]}]},
 dict_keys(['Node Type', 'Strategy', 'Partial Mode', 'Parallel Aware', 'Startup Cost', 'Total Cost', 'Plan Rows', 'Plan Width', 'Plans']))

In [8]:
tree_builder.get_operator_vector()

{"it2_47_((info)::text = 'release dates'::text)": tensor([[ 0.0000,  0.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,  0.0000,
           0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
           0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
           0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
           0.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
           0.1250,  1.0000,  1.0000, 11.0000,  0.1250,  0.0000,  1.0000,  0.0000,
           0.0000]]),
 '_47_(mi.info_type_id = it2.id)': tensor([[ 0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           1.0550e+00,  5.4704e+04,  1.1300e+02,  9.0000e+00, -1.1816e+02,
           0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00]]),
 "it_47_((info)::text = 'rating'::text)": tensor([[ 0.0000,  0.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,  0.0000,
           0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
           0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
           0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
           0.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
           0.1250,  1.0000,  1.0000, 12.0000,  0.1250,  0.0000,  1.0000,  0.0000,
           0.0000]]),
 '_47_(miidx.info_type_id = it.id)': tensor([[ 0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           8.2000e-01,  5.0890e+03,  1.1299e+02,  1.0000e+01, -9.1833e+01,
           0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00]]),
 '_47_(mi.movie_id = miidx.movie_id)': tensor([[ 0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           1.0600e+00,  1.4060e+03,  1.9800e+05,  8.0000e+00, -2.0988e+05,
           0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00]]),
 "t_47_(((title)::text <> ''::text) AND (((title)::text ~~ '%Champion%'::text) OR ((title)::text ~~ '%Loser%'::text)))": tensor([[0.0000, 0.0000, 0.0000, 0.0000, 1.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          1.0000, 0.0000, 0.0000, 0.0000, 0.0750, 1.0000, 1.0000, 8.0000, 0.0750,
          0.0000, 1.0000, 0.0000, 0.0000]]),
 't_47_(id = mi.movie_id)': tensor([[0.0000, 0.0000, 0.0000, 0.0000, 1.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          1.0000, 0.0000, 0.0000, 0.0000, 0.0750, 1.0000, 1.0000, 8.0000, 0.0750,
          0.0000, 1.0000, 0.0000, 0.0000]]),
 '_47_(mc.movie_id = mi.movie_id)': tensor([[ 0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
           1.0750e+00,  1.0000e+00,  1.0871e+06,  5.0000e+00, -1.1687e+06,
           0.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00]]),
 "cn_47_((country_code)::text = '[us]'::text)": tensor([[0.0000, 0.0000, 0.0000, 0.0000, 1.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          1.0000, 0.0000, 0.0000, 0.0000, 0.0750, 1.0000, 1.0000, 5.0000, 0.0750,
          0.0000, 1.0000, 0.0000, 0.0000]]),
 'cn_47_(id = mc.company_id)': tensor([[0.0000, 0.0000, 0.0000, 0.0000, 1.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          1.0000, 0.0000, 0.0000, 0.0000, 0.0750, 1.0000, 1.0000, 5.0000, 0.0750,
          0.0000, 1.0000, 0.0000, 0.0000]]),
 "ct_47_((kind)::text = 'production companies'::text)": tensor([[0.0000, 0.0000, 0.0000, 0.0000, 1.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          1.0000, 0.0000, 0.0000, 0.0000, 0.0650, 1.0000, 1.0000, 3.0000, 0.0650,
          0.0000, 1.0000, 0.0000, 0.0000]]),
 'ct_47_(id = mc.company_type_id)': tensor([[0.0000, 0.0000, 0.0000, 0.0000, 1.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          1.0000, 0.0000, 0.0000, 0.0000, 0.0650, 1.0000, 1.0000, 3.0000, 0.0650,
          0.0000, 1.0000, 0.0000, 0.0000]]),
 "kt_47_((kind)::text = 'movie'::text)": tensor([[0.0000, 0.0000, 0.0000, 0.0000, 1.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          1.0000, 0.0000, 0.0000, 0.0000, 0.0650, 1.0000, 1.0000, 2.0000, 0.0650,
          0.0000, 1.0000, 0.0000, 0.0000]]),
 'kt_47_(id = t.kind_id)': tensor([[0.0000, 0.0000, 0.0000, 0.0000, 1.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
          1.0000, 0.0000, 0.0000, 0.0000, 0.0650, 1.0000, 1.0000, 2.0000, 0.0650,
          0.0000, 1.0000, 1.0000, 1.0000]])}